минимально-инвазивные изменения
не страхуйся пока явно не попросят, пусть падает
не страхуйся как try-except блоки, лучше пусть падает
не страхуйся от граничных случаев типа пустой строки или None или ошибок ввода-вывода
не страхуйся от случаев когда в dict нету ключа или он невалиден, пиши максимально короткое обращение, стремимся к краткому коду и если упадёт - тогда увидим и пгч
не оставляй комметариев в коде, пиши только код
не делай локальных импортов, всегда используй глобальные
не ставь в функциях дефолтные значения парамтеров при объявлении, считаем что всегда надо явно передавать все параметры
делай минималистичные но лаконичные, минимально-инвазивные изменения
форматирование должно быть красивым, не лепи в одну строку
не раздвигай строки кода слишком сильно - не делай лишних пустых строк так как на экране меньше умещается
используй полный говорящие имена переменных, функций и так далее
не страхуйся от длинных строк и списков, не обрезай их пока явно не попросят
не внедряй дополнительную логику если её не обговаривали
не выдумывай
нужно качественное production-ready решение
Если ты раздуешь решение, то это ошибка, ты должен быть максимально лаконичным и эффективным и краток, так чтобы человек легко понял
если вдруг что-то важное захочешь записать в историю - тогда быстро сделай append в файл llmlog.txt и не анализируй его пока не попросят
не редактируй файлы документации типа README.MD и так далее пока явно не попросят