всегда делай минимально-инвазивные, минималистичные но лаконичные изменения
используй говорящие имена
форматирование должно быть красивым, не лепи в одну строку
нужно качественное production-ready решение

Не делай ничего пока явно не попросят и нижеперечисленного: 
* не страхуйся, пусть падает:
    1) try-except блоки
    2) граничные случаи типа пустой строки, массива, None, ошибки ввода и всё в этом роде
    3) в dict нету ключа - всегда пиши максимально прямое изъятие значения по ключу
* не оставляй комметариев в коде, пиши только код
* не делай локальных импортов, всегда используй глобальные
* не делай длинных лиан кода
* не делай лишних пустых строк
* не теряй полноценных названий переменных, функций, классов и так далее
* не ставь в функциях дефолтные значения парамтеров при объявлении, считаем что всегда надо явно передавать все параметры
* не страхуйся от длинных строк, списков, длинных файлов обрезанием
* не внедряй дополнительную логику если её не обговаривали
* не выдумывай
* Не редактируй .MD файлы документации типа README.MD и так далее пока явно не попросят

Если ты раздуешь решение, то это ошибка
Ты должен быть максимально лаконичным и эффективным и кратким, так чтобы человек легко понял
файл llmlog.txt - в него записываем аппендивно в конец

* при запуске Python команд всегда используй .venv/bin/python3 вместо системного python3, чтобы использовать зависимости из виртуального окружения