[submodule "repos/backend-csharp"]
	path = repos/backend-csharp
	url = file:///Users/kirimba1024/Projects/RAG/rag-assistant/repos/backend-csharp
[submodule "repos/backend-go"]
	path = repos/backend-go
	url = file:///Users/kirimba1024/Projects/RAG/rag-assistant/repos/backend-go
[submodule "repos/backend-java"]
	path = repos/backend-java
	url = file:///Users/kirimba1024/Projects/RAG/rag-assistant/repos/backend-java
[submodule "repos/backend-java-spring"]
	path = repos/backend-java-spring
	url = file:///Users/kirimba1024/Projects/RAG/rag-assistant/repos/backend-java-spring
[submodule "repos/backend-kotlin"]
	path = repos/backend-kotlin
	url = file:///Users/kirimba1024/Projects/RAG/rag-assistant/repos/backend-kotlin
[submodule "repos/backend-python"]
	path = repos/backend-python
	url = file:///Users/kirimba1024/Projects/RAG/rag-assistant/repos/backend-python
[submodule "repos/backend-rust"]
	path = repos/backend-rust
	url = file:///Users/kirimba1024/Projects/RAG/rag-assistant/repos/backend-rust
[submodule "repos/backend-scala"]
	path = repos/backend-scala
	url = file:///Users/kirimba1024/Projects/RAG/rag-assistant/repos/backend-scala
[submodule "repos/docs"]
	path = repos/docs
	url = file:///Users/kirimba1024/Projects/RAG/rag-assistant/repos/docs
[submodule "repos/frontend-A"]
	path = repos/frontend-A
	url = file:///Users/kirimba1024/Projects/RAG/rag-assistant/repos/frontend-A
[submodule "repos/frontend-B"]
	path = repos/frontend-B
	url = file:///Users/kirimba1024/Projects/RAG/rag-assistant/repos/frontend-B
[submodule "repos/sql-schema"]
	path = repos/sql-schema
	url = file:///Users/kirimba1024/Projects/RAG/rag-assistant/repos/sql-schema
