services:
  rag-sandbox:
    build:
      context: .
      dockerfile: ./images/sandbox/Dockerfile
    image: rag-sandbox:stable
    container_name: ${SANDBOX_CONTAINER_NAME:-rag-assistant-rag-sandbox-1}
    restart: unless-stopped
    network_mode: none

