services:
  elasticsearch:
    build: ./images/elasticsearch
    container_name: ${ELASTICSEARCH_CONTAINER_NAME:-rag-assistant-elasticsearch-1}
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - ES_JAVA_OPTS=-Xms1g -Xmx1g
      - ES_INDEX_CHUNKS=${ES_INDEX_CHUNKS:-chunks}
    ports:
      - "${ES_PORT:-9200}:9200"

  kibana:
    image: docker.elastic.co/kibana/kibana:8.12.0
    restart: unless-stopped
    environment:
    - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
    - XPACK_SECURITY_ENABLED=false
    - XPACK_REPORTING_ROLES_ENABLED=false
    - SERVER_PUBLICBASEURL=http://localhost:5601
    ports:
      - "5601:5601"
    depends_on:
      - elasticsearch

  rag-sandbox:
    build:
      context: .
      dockerfile: ./images/sandbox/Dockerfile
    image: rag-sandbox:stable
    container_name: ${SANDBOX_CONTAINER_NAME:-rag-assistant-rag-sandbox-1}
    restart: unless-stopped

