services:
  neo4j:
    build: ./images/neo4j
    restart: unless-stopped
    environment:
      NEO4J_AUTH: ${NEO4J_USER:-neo4j}/${NEO4J_PASS:-neo4jpass}
      NEO4J_PLUGINS: '["apoc"]'
      NEO4J_server_config_strict__validation_enabled: "false"
      NEO4J_dbms_security_procedures_allowlist: "apoc.*"
      NEO4J_dbms_security_procedures_unrestricted: "apoc.*"
      NEO4J_apoc_export_file_enabled: "true"
      NEO4J_apoc_import_file_enabled: "true"
    ports:
      - "${NEO4J_HTTP_PORT:-7474}:7474"
      - "${NEO4J_BOLT_PORT:-7687}:7687"
    volumes:
      - ./data/neo4j:/data
      - ./data/neo4j-logs:/logs
      - ./data/neo4j-plugins:/plugins

  elasticsearch:
    build: ./images/elasticsearch
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - ES_JAVA_OPTS=-Xms1g -Xmx1g
      - ES_INDEX=${ES_INDEX:-rag}
    ports:
      - "${ES_PORT:-9200}:9200"
    volumes:
      - ./data/elasticsearch:/usr/share/elasticsearch/data

  kibana:
    image: docker.elastic.co/kibana/kibana:8.12.0
    restart: unless-stopped
    environment:
    - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
    - XPACK_SECURITY_ENABLED=false
    - XPACK_REPORTING_ROLES_ENABLED=false
    - SERVER_PUBLICBASEURL=http://localhost:5601
    ports:
      - "5601:5601"
    depends_on:
      - elasticsearch

  rag-sandbox:
    build: ./images/sandbox
    image: rag-sandbox:stable
    volumes:
      - ./knowledge:/tmp/knowledge:ro
    environment:
      - KNOWLEDGE_ROOT=/app
    restart: unless-stopped
