services:
  elasticsearch:
    build: ./images/elasticsearch
    container_name: ${ELASTICSEARCH_CONTAINER_NAME:-rag-assistant-elasticsearch-1}
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - ES_JAVA_OPTS=-Xms1g -Xmx1g
      - ES_INDEX=${ES_INDEX:-rag}
    ports:
      - "${ES_PORT:-9200}:9200"

  kibana:
    image: docker.elastic.co/kibana/kibana:8.12.0
    restart: unless-stopped
    environment:
    - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
    - XPACK_SECURITY_ENABLED=false
    - XPACK_REPORTING_ROLES_ENABLED=false
    - SERVER_PUBLICBASEURL=http://localhost:5601
    ports:
      - "5601:5601"
    depends_on:
      - elasticsearch

  sourcegraph:
    build:
      context: .
      dockerfile: ./images/sourcegraph/Dockerfile
    platform: linux/amd64
    container_name: ${SOURCEGRAPH_CONTAINER_NAME:-rag-assistant-sourcegraph-1}
    restart: unless-stopped
    environment:
      - SOURCEGRAPH_DB_PASSWORD=${SOURCEGRAPH_DB_PASSWORD:-password}
      - SOURCEGRAPH_SECRET_KEY=${SOURCEGRAPH_SECRET_KEY:-secret-key}
      - SOURCEGRAPH_INITIAL_SITE_ADMIN_USERNAME=${SOURCEGRAPH_ADMIN_USER:-admin}
      - SOURCEGRAPH_INITIAL_SITE_ADMIN_PASSWORD=${SOURCEGRAPH_ADMIN_PASS:-password}
      - SOURCEGRAPH_INITIAL_SITE_ADMIN_EMAIL=${SOURCEGRAPH_ADMIN_EMAIL:-admin@example.com}
      - PROVISION_REPOS=1
    ports:
      - "${SOURCEGRAPH_PORT:-3080}:7080"

  rag-sandbox:
    build:
      context: .
      dockerfile: ./images/sandbox/Dockerfile
    image: rag-sandbox:stable
    container_name: ${SANDBOX_CONTAINER_NAME:-rag-assistant-rag-sandbox-1}
    restart: unless-stopped

  graphrag:
    build:
      context: .
      dockerfile: ./images/graphrag/Dockerfile
    container_name: ${GRAPHRAG_CONTAINER_NAME:-rag-assistant-graphrag-1}
    environment:
      - ANTHROPIC_API_KEY=${ANTHROPIC_API_KEY}
      - GRAPHRAG_MODEL=${CLAUDE_MODEL:-claude-3-haiku-20240307}
      - GRAPHRAG_MODEL_PROVIDER=${GRAPHRAG_MODEL_PROVIDER:-anthropic}
    restart: unless-stopped
